* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #fff5f5;
    color: #222;
}

/* NAVBAR */
nav {
    background: #b11226;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-text h1 span {
    color: #b11226;
}

.hero-image img {
    width: 280px;
    border-radius: 50%;
    border: 5px solid #b11226;
}

/* BUTTONS */
.btn {
    background: #b11226;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    text-decoration: none;
}

.btn:hover {
    background: #8e0f1f;
}

.btn-outline {
    border: 2px solid #b11226;
    padding: 10px 18px;
    text-decoration: none;
    color: #b11226;
}

/* SECTIONS */
section {
    padding: 60px;
}

.skills-list li {
    margin: 10px 0;
}

/* PROJECTS */
.projects-grid {
    display: flex;
    gap: 25px;
}

.project-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #b11226;
    color: white;
    text-align: center;
    padding: 20px;
}
