* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f5f7fb;
    color: #222;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #6c63ff;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.hero-text h1 {
    font-size: 42px;
}

.hero-text span {
    color: #6c63ff;
}

.hero-text p {
    margin: 20px 0;
    max-width: 500px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background: #6c63ff;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 10px;
}

.btn-outline {
    border: 2px solid #6c63ff;
    padding: 10px 18px;
    color: #6c63ff;
    border-radius: 6px;
    text-decoration: none;
}

/* IMAGE */
.hero-image img {
    width: 280px;
    border-radius: 50%;
}

/* SECTIONS */
section {
    padding: 60px;
}

.skills-list li {
    margin: 10px 0;
}

/* PROJECTS */
.projects-grid {
    display: flex;
    gap: 20px;
}

.project-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #6c63ff;
    color: white;
}
